<header class="bg-white shadow-sm">
    <nav class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-4">
        <div class="flex justify-between items-center">
            <div class="flex items-center">
                <a href="/">

                    <img src="../images/logo.png" alt="Company Logo" height="50%" width="50%" class="mb-4 sm:mb-0">
                </a>
            </div>
            <div class="flex space-x-4">
                <a href="retire.html" class="text-gray-600 hover:text-red-600">Retirement Plan</a>
                <a href="education.html" class="text-gray-600 hover:text-red-600">Education Plan</a>
                <a href="invest.html" class="text-gray-600 hover:text-red-600">Investment Plan</a>
            </div>
        </div>
    </nav>
</header>
